.ticSquare {
  min-height: 200px;
  width: 200px;
  border: 1px solid #ddd;
}
.ticSquarePlayer1 {
  /*background-color: #f55;*/
  background-image: url("../img/1.jpg");
  background-size: contain;
}
.ticSquarePlayer2 {
  /*background-color: #69f;*/
  background-image: url("../img/2.jpg");
  background-size: contain;
}
